<configuration>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/test.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>D:/test.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{MM-dd-yyy HH:mm:ss} %-5level %logger{0}:%L - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>
</configuration>
